{% extends "app/company/base1.html" %}
{% load static %}
{% block content %}
            <div id="layoutSidenav_content">
                <main >
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Applied job candidate list</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>
                            <div class="card mb-4">
                                <div class="card-body">
                                    DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                                    <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                                    .
                                </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Job Name</th>
                                            <th>Candidate Name</th>
                                            <th>Contact</th>
                                            <th>Email</th>
                                            <th>Education</th>
                                            <th>Experiance</th>
                                            <th>Min Salary</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Job Name</th>
                                            <th>Candidate Name</th>
                                            <th>Contact</th>
                                            <th>Email</th>
                                            <th>Education</th>
                                            <th>Experiance</th>
                                            <th>Min Salary</th>
                                        </tr>
                                    </tfoot>
                                    {% if  applyjob %}
                                    <tbody>
                                        {% for i in applyjob %}
                                            {% if i.job_id.comp_id.id == comp.id %}
                                            <tr>
                                                <td>{{i.job_id.jobname}}</td>
                                                <td>{{i.firstname}} {{i.lastname}}</td>
                                                <td>{{i.contact}}</td>
                                                <td>{{i.email}}</td>
                                                <td>{{i.education}}</td>
                                                <td>{{i.experience}}</td>
                                                <td>{{i.min_salary}}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                       
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                {% endblock content %}